# airflow
Airflow_Docker/logs/

#python
__pycache__/
*.pyc

#env/venv
venv/
.env

#data
data/raw/*.csv

#os
.DS_Store
Thumbs.db


#keys
keys/

#airflow
config/airflow.cfg
logs/
airflow.cfg
*.db
