great_expectations==1.17.0
dbt-core==1.11.8
dbt-snowflake==1.11.4
snowflake-connector-python==4.4.0
google-cloud-storage==3.10.1
google-auth==2.49.2
python-dotenv==1.2.2
pandas==3.0.2
pyarrow==24.0.0
numpy==2.4.4